body {
  font-family: Abel, "Times New Roman", Times, serif;
}
a {
  color: black;
}

nav ul {
  display: flex;
  position: relative;
  list-style: none;
  background-color: rgb(175, 240, 245);
  padding: 10px;
  align-items: flex-start;
}

nav li {
  color: black;
  box-shadow: 15px;
  font-size: 28px;
  font-weight: bolder;
  padding-right: 20px;
}
nav {
  display: flex;
  position: relative;

  padding: 25px;
}

h1 {
  display: flex;
  position: relative;
  font-size: 40px;
  color: black;
  background-color: rgb(175, 240, 245);
  padding: 5px;
  max-width: 600px;
  height: auto;
  margin-bottom: 100px;
  margin-top: 75px;
}

img {
  border-radius: 5%;
  width: 100%;
}

h2 {
  font-size: 38px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.techSkills {
  text-align: center;
  justify-content: center;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5 {
  background: rgb(175, 240, 245);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  min-width: fit-content;
  margin: 15px;
  padding: 10px;
}

p {
  font-size: 30px;
}

.boxsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.item {
  font-size: 30px;
  text-align: center;
  width: 400px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  min-width: 300px;
  height: 320px;
  margin: 15px;
  padding: 30px;
  background-color: rgb(175, 240, 245);
}

footer {
  padding-top: 50px;
}

footer ul {
  display: flex;
  position: relative;
  justify-content: center;
  list-style: none;

}

footer li {
  color: black;
  box-shadow: 15px;
  font-size: 28px;
  padding: 20px;
  background-color: rgb(175, 240, 245);
}

footer span {
  font-weight: bolder;
}

.top {
  padding: 20px;
  margin-bottom: 60px;
}
