body {
  font-family: Abel, "Times New Roman", Times, serif;
}

.banner {
  display: flex;
  position: absolute;
  z-index: -1;
}

nav ul {
  display: flex;
  position: relative;
  list-style: none;
  background-color: rgb(175, 240, 245);
}
nav li {
  color: black;
  box-shadow: 15px;
  font-size: 28px;
  font-weight: bolder;
  padding-right: 15px;
}
nav {
  display: flex;
  position: relative;
  height: 800px;
  padding: 25px;
}
h1 {
  display: flex;
  position: relative;
  z-index: 2;
  font-size: 48px;
  color: black;
  background-color: rgb(175, 240, 245);
  padding: 5px;
  width: 900px;
}

.headersection {
  margin-top: 350px;
}

.midsection {
  width: 1700px;
  padding-top: 50px;
}

h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

p {
  font-size: 30px;
}
.boxsection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1700px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  background: rgb(175, 240, 245);
  width: 350px;
  height: 355px;
  margin: 20px;
}

footer {
  width: 1700px;
  padding-top: 50px;
}

footer ul {
  display: flex;
  position: relative;
  justify-content: center;
  list-style: none;
  background-color: rgb(175, 240, 245);
}

footer li {
  color: black;
  box-shadow: 15px;
  font-size: 28px;
  padding: 30px;
}

footer span {
  font-weight: bolder;
}
